* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clock {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  margin: 20px;
}

.needle {
  width: 4px;
  height: 50px;
  position: absolute;
  background-color: black;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  border-radius: 10px;
}

.needle.hour {
  -webkit-transform: translate(-50%, -100%) rotate(0deg);
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  height: 70px;
  -webkit-transform: translate(-50%, -100%) rotate(0deg);
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.second {
  -webkit-transform: translate(-50%, -100%) rotate(0deg);
  transform: translate(-50%, -100%) rotate(0deg);
  height: 70px;
  width: 2px;
  background-color: rgba(255, 0, 0, 0.6);
}

.center {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.time {
  font-size: 2rem;
}

.date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.date-container .day {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgba(255, 0, 0, 0.6);
  font-weight: bold;
  margin: 5px 10px;
}

.date-container .month {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.date-container .month .date {
  font-size: 1.2rem;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin: 5px 10px;
}
