*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
  background-color: steelblue;
}
.empty{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  background-color: white;
  margin: 10px;
  overflow: hidden;
}
.fill{
  background-image: url(https://source.unsplash.com/random/150x150);
  height: 147px;
  width: 147px;
}
.hold{
  border: 5px solid #ccc;
  
}
.hovered{
  border: 2px dotted white;
  background-color: #ccc;
}
.invisible{
  border: none;
}